@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
/* Body del proyecto */
/* Variable */
body {
  font-family: "Vollkorn", serif;
  background-color: #f1f4f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Variable */
/* ENCABEZADO */
.encabezado .logoPortal {
  width: 50%;
  height: 50%;
}
.encabezado .navbarMenu {
  background-color: #E40017;
}
.encabezado .navbarMenu .navbarUl {
  margin-left: 80px;
  margin-right: 80px;
}
.encabezado .navbarMenu .navbarUl .navbarSeccions {
  color: white;
}
.encabezado .navbarMenu .navbarUl .navbarSeccions:hover {
  transition: all 1s;
  background-color: black;
  border-bottom: 2px solid white;
  border-spacing: 0px;
}

/* Fin encabezado */
/* Variable */
/* Seccion */
section .tituloPrincipal {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #0F1618;
}
section .tituloPrincipal::first-letter {
  color: red;
}
section .carrusel {
  margin-left: 0% !important;
  margin-right: 0% !important;
}
section .carrusel .estilo-titulos-carousel {
  font-weight: bold;
}
section .contenedor-noticias {
  margin-left: 15px !important;
  margin: auto;
}
section .contenedor-noticias .titulo-h3 {
  text-align: center;
}
section .contenedor-noticias .titulo-h3::first-letter {
  color: red;
}
section .contenedor-noticias .ul-noticias {
  list-style: none;
  flex-direction: column;
  padding-right: 25px;
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  border-right: 2px solid #0F1618;
}
section .contenedor-noticias .ul-noticias .li-noticias {
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}
section .contenedor-noticias .ul-noticias .titulo-noticias {
  padding-bottom: 15px;
  text-align: justify;
}
section .contenedor-noticias .noticia {
  color: #0F1618;
  text-decoration: none;
  font-size: 20px;
}
section .contenedor-noticias .noticia .foto-noticias {
  display: block;
  background-position: center;
  background-size: cover;
}
section .contenedor-noticias .listas-podcast {
  list-style: none;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 35px;
  padding-right: 35px;
}
section .contenedor-noticias .carousel .item {
  height: 300px;
}
section .contenedor-noticias .item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
section .newsletter {
  background-color: #E40017;
}

/* Variable */
/* Pie de pagina */
.pieDePagina {
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 25px;
  padding-bottom: 0px;
  background-color: #E40017;
}
.pieDePagina .newsletter {
  padding-top: 25px;
  color: white;
}
.pieDePagina .newsletter .inputNewsLetter {
  border: 1px solid white;
  border-radius: 25px;
}
.pieDePagina .newsletter .botonNewsLetter {
  border: 1px solid white;
  border-radius: 25px;
}
.pieDePagina .copyright {
  padding-top: 2em;
  display: flex;
  justify-content: flex-start;
  font-size: 1em;
  color: white;
}
.pieDePagina .listasRedesSociales {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 0%;
  padding: 0%;
  margin-top: 25px;
}
.pieDePagina .navegacionRedes {
  width: 1.9375rem;
  height: 1.9375rem;
  display: block;
  content: "";
  float: left;
  margin: -0.3125rem 0.3125rem 0 0;
}
.pieDePagina .titulo-h4 {
  display: flex;
  align-items: flex-start;
}

/* Variable */
/* Extend basico para cumplir con el trabajo pedido*/
.contenedor-noticias {
  margin-right: 15px;
  margin-left: 15px;
}

.fotos-noticias {
  width: 4, 5em;
  height: 50px;
  border-radius: 25px;
}

/* Mapas */
.tituloh1-noticia {
  margin-top: 80px;
  text-align: center;
  color: #C84C0C;
  background-color: #5D93FD;
}

/*# sourceMappingURL=estilos.css.map */
