@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
/* Body del proyecto */
/* Variable */
body {
  font-family: "Exo", sans-serif;
  background-color: #FFFAFA;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ENCABEZADO */
.encabezado .logoPortal {
  width: 35%;
  height: auto;
}
.encabezado .navbarMenu {
  background-color: #E40017;
}
.encabezado .navbarMenu .navbarUl {
  margin-left: 100px;
  margin-right: 100px;
}
.encabezado .navbarMenu .navbarUl .navbarSeccions {
  color: white;
}
.encabezado .navbarMenu .navbarUl .navbarSeccions:hover {
  transition: all 1s;
  background-color: black;
  border-bottom: 2px solid white;
  border-spacing: 0px;
}
.encabezado .navbarMenu .navbarUl .dropdown:hover .dropdown-menu {
  display: block;
}

/* Fin encabezado */
/* Seccion Index*/
section .tituloPrincipal {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1.25rem;
  color: #0F1618;
}
section .tituloPrincipal::first-letter {
  color: #E40017;
}
section .carrusel {
  margin-left: 0% !important;
  margin-right: 0% !important;
}
section .carrusel .estilo-titulos-carousel {
  font-weight: bold;
}
section .contenedor-noticias {
  margin-left: 15px !important;
  margin: auto;
}
section .contenedor-noticias .titulo-h3 {
  text-align: center;
}
section .contenedor-noticias .titulo-h3::first-letter {
  color: #E40017;
}
section .contenedor-noticias .ul-noticias {
  list-style: none;
  flex-direction: column;
  padding-right: 25px;
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  border-right: 2px solid #0F1618;
}
section .contenedor-noticias .ul-noticias .li-noticias {
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}
section .contenedor-noticias .ul-noticias .titulo-noticias {
  padding-bottom: 15px;
  text-align: justify;
}
section .contenedor-noticias .noticia {
  color: #0F1618;
  text-decoration: none;
  font-size: 1.13rem;
}
section .contenedor-noticias .noticia .foto-noticias {
  display: block;
  background-position: center;
  background-size: cover;
}
section .contenedor-noticias .listas-podcast {
  list-style: none;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 35px;
  padding-right: 35px;
}
section .contenedor-noticias .carousel .item {
  height: 300px;
}
section .contenedor-noticias .item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

/* Pie de pagina */
.pieDePagina {
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 25px;
  padding-bottom: 0px;
  background-color: #E40017;
}
.pieDePagina .newsletter {
  padding-top: 25px;
  color: white;
}
.pieDePagina .newsletter .inputNewsLetter {
  border: 1px solid white;
  border-radius: 25px;
}
.pieDePagina .newsletter .botonNewsLetter {
  border: 1px solid white;
  border-radius: 25px;
}
.pieDePagina .copyright {
  padding-top: 2em;
  display: flex;
  justify-content: flex-start;
  font-size: 1em;
  color: #f1f4f7;
}
.pieDePagina .listasRedesSociales {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 0%;
  padding: 0%;
  margin-top: 25px;
}
.pieDePagina .navegacionRedes {
  width: 1.9375rem;
  height: 1.9375rem;
  display: block;
  content: "";
  float: left;
  margin: -0.3125rem 0.3125rem 0 0;
}
.pieDePagina .titulo-h4 {
  display: flex;
  align-items: flex-start;
}

/* Variable */
/* Extend basico para cumplir con el trabajo pedido*/
.contenedor-noticias {
  margin-right: 15px;
  margin-left: 15px;
}

.fotos-noticias {
  width: 4, 5em;
  height: 50px;
  border-radius: 25px;
}

/* Mapas */
.tituloh1-noticia {
  margin-top: 80px;
  color: #E40017;
  background-color: #f1f4f7;
}

.seccionNoticias .tituloPrincipalNoticia {
  /* Seccion noticias */
  text-align: center;
  margin-top: 80px;
  margin-bottom: 5px;
  color: #0F1618;
}
.seccionNoticias .tituloPrincipalNoticia::first-letter {
  color: #E40017;
}
.seccionNoticias .noticiasPrincipales {
  /* SECCION - NOTICIAS - NOTICIAS PPALES */
  position: relative;
  width: 100%;
  padding-top: 0px;
  margin-bottom: 40px;
  display: block;
  width: 100%;
  color: #f1f4f7;
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
}
.seccionNoticias .noticiasPrincipales .primerTitular {
  padding-top: 30px;
}
.seccionNoticias .noticiasPrincipales .primerTitular a {
  font-size: 35px;
}
.seccionNoticias .titular-img {
  position: relative;
  height: 100%;
}
.seccionNoticias .titularCaptions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px 10px 15px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
  display: flex;
  align-items: flex-end;
}
.seccionNoticias .titularCaptions a {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #f1f4f7;
}
.seccionNoticias .titularCaptions a:hover {
  color: #E40017;
}
.seccionNoticias .titularTitulo {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #f1f4f7;
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
}
.seccionNoticias .titularMargin {
  margin-top: 25px;
}

.seccionNovedades {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 30px #817777;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.seccionNovedades .tituloNovedades {
  display: inline-block;
  position: relative;
}
.seccionNovedades .tituloNovedades::after {
  content: "";
  position: absolute;
  width: 950px;
  height: 2px;
  background-color: black;
  top: 0.6em;
  left: 130px;
}
.seccionNovedades .tituloNovedades::first-letter {
  color: #E40017;
}
.seccionNovedades .ul-noticias {
  list-style-type: none;
}
.seccionNovedades .ul-noticias .li-noticias {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20;
}
.seccionNovedades .ul-noticias .li-noticias .vinculoNoticias {
  text-decoration: none;
  color: black;
}
.seccionNovedades .ul-noticias .li-noticias .vinculoNoticias .imagen-noticias {
  width: 50%;
  float: right;
  border-radius: 15px;
  padding: auto;
  position: relative;
  left: 10px;
  object-fit: cover;
  margin-top: 15px;
}
.seccionNovedades .ul-noticias .li-noticias .vinculoNoticias .imagen-noticias:hover {
  filter: blur(1px);
}
.seccionNovedades .ul-noticias .li-noticias .vinculoNoticias .titulo-noticias {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
.seccionNovedades .ul-noticias .li-noticias .vinculoNoticias .titulo-noticias:hover {
  text-decoration: underline;
}
.seccionNovedades .ul-noticias .li-noticias .vinculoNoticias .titulo-noticias::first-letter {
  color: #E40017;
}
.seccionNovedades .ul-noticias .li-noticias .descripcion-noticias {
  text-align: left;
}

.sectionEsportPrincipal {
  margin-top: 4rem;
}
.sectionEsportPrincipal .tituloPrincipalNoticiaEsport {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 5px;
  color: #0F1618;
}
.sectionEsportPrincipal .tituloPrincipalNoticiaEsport::first-letter {
  color: #E40017;
}
.sectionEsportPrincipal .noticiasPrincipales {
  /* SECCION - NOTICIAS - NOTICIAS PPALES */
  position: relative;
  width: 100%;
  padding-top: 0px;
  margin-bottom: 40px;
  display: block;
  width: 100%;
  color: #f1f4f7;
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
}
.sectionEsportPrincipal .noticiasPrincipales .primerTitular {
  padding-top: 30px;
}
.sectionEsportPrincipal .noticiasPrincipales .primerTitular a {
  font-size: 35px;
}
.sectionEsportPrincipal .titular-img {
  position: relative;
  height: 100%;
}
.sectionEsportPrincipal .titularCaptions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px 10px 15px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
  display: flex;
  align-items: flex-end;
}
.sectionEsportPrincipal .titularCaptions a {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #f1f4f7;
}
.sectionEsportPrincipal .titularCaptions a:hover {
  color: #E40017;
}
.sectionEsportPrincipal .titularCaptions .spanEsport1 {
  border-radius: 5px;
  background-color: #E40017;
  height: 10%;
  width: 12%;
}
.sectionEsportPrincipal .titularCaptions .spanEsport1 .textoSpan {
  font-size: 0.5em;
}
.sectionEsportPrincipal .titularCaptions .spanEsport2 {
  border-radius: 5px;
  background-color: #E40017;
  height: 15%;
  width: 38%;
}
.sectionEsportPrincipal .titularCaptions .spanEsport2 .textoSpan {
  font-size: 0.3em;
}
.sectionEsportPrincipal .titularCaptions .spanEsport3 {
  border-radius: 5px;
  background-color: #E40017;
  height: 15%;
  width: 12%;
}
.sectionEsportPrincipal .titularCaptions .spanEsport3 .textoSpan {
  font-size: 0.3em;
}
.sectionEsportPrincipal .titularCaptions .spanEsport4 {
  border-radius: 5px;
  background-color: #E40017;
  height: 12%;
  width: 12%;
}
.sectionEsportPrincipal .titularCaptions .spanEsport4 .textoSpan {
  font-size: 0.3em;
}
.sectionEsportPrincipal .titularTitulo {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #f1f4f7;
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
  margin: 0px !important;
}
.sectionEsportPrincipal .titularMargin {
  margin-top: 25px;
}

.sectionEsport {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 30px #817777;
}
.sectionEsport .borderLine {
  border-top: 1px solid #ccc;
}
.sectionEsport .tituloEsport {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #0F1618;
  position: relative;
}
.sectionEsport .tituloEsport::first-letter {
  color: #E40017;
}
.sectionEsport .tituloEsport::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 2px;
  background-color: black;
  top: 0.6em;
  left: 55px;
}
.sectionEsport .tituloEsport::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 2px;
  background-color: black;
  top: 0.6em;
  right: 55px;
}
.sectionEsport .contenedorEsportNoticia {
  padding: 1.5em;
}
.sectionEsport .contenedorEsportNoticia .img-hover-zoom {
  overflow: hidden;
  border-radius: 15px;
}
.sectionEsport .contenedorEsportNoticia .img-hover-zoom .imgEsport {
  transition: transform 0.5s ease;
}
.sectionEsport .contenedorEsportNoticia .img-hover-zoom .imgEsport:hover {
  transform: scale(1.2);
}
.sectionEsport .contenedorEsportNoticia .tituloNoticiaEsport::first-letter {
  color: #E40017;
}
.sectionEsport .contenedorEsportNoticia .tituloNoticiaEsport .noticiaEsport {
  text-decoration: none;
  color: black;
}
.sectionEsport .contenedorEsportNoticia .tituloNoticiaEsport .noticiaEsport:hover {
  text-decoration: underline;
}
.sectionEsport .subnoticias {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #0F1618;
  position: relative;
}
.sectionEsport .subnoticias::first-letter {
  color: #E40017;
}
.sectionEsport .subnoticias::after {
  content: "";
  position: absolute;
  width: 440px;
  height: 2px;
  background-color: black;
  top: 0.6em;
  left: 0px;
}
.sectionEsport .subnoticias::before {
  content: "";
  position: absolute;
  width: 440px;
  height: 2px;
  background-color: black;
  top: 0.6em;
  right: 0px;
}
.sectionEsport .subnoticias::first-letter {
  color: #E40017;
}

.logosCards {
  width: 1.5em;
}

.seccionLanzamientosPrinciales .card {
  width: 30rem;
}
.seccionLanzamientosPrinciales .tituloLanzamientosPrincipales {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5px;
  color: black;
}
.seccionLanzamientosPrinciales .tituloLanzamientosPrincipales::first-letter {
  color: #E40017;
}
.seccionLanzamientosPrinciales .cardLanzamientoPrincial {
  border: hidden 1px black;
  color: black;
}
.seccionLanzamientosPrinciales .cardLanzamientoPrincial .card-body {
  border: 1px solid #c7c7c7;
}

.seccionLanzamientos {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 30px #817777;
}
.seccionLanzamientos .card {
  width: 18rem;
}
.seccionLanzamientos .cardLanzamientosVariados {
  box-shadow: 5px 5px 30px #000000;
}
.seccionLanzamientos .cardPlaystation {
  box-shadow: 5px 5px 30px #006FCD;
}
.seccionLanzamientos .cardXbox {
  box-shadow: 5px 5px 30px #107C10;
}
.seccionLanzamientos .tituloLanzamientos {
  position: relative;
}
.seccionLanzamientos .tituloLanzamientos::first-letter {
  color: #E40017;
}
.seccionLanzamientos .tituloLanzamientos::after {
  content: "";
  position: absolute;
  width: 23.125rem;
  height: 2px;
  background-color: black;
  top: 0.6em;
  left: 10px;
}
.seccionLanzamientos .tituloLanzamientos::before {
  content: "";
  position: absolute;
  width: 23.125rem;
  height: 2px;
  background-color: black;
  top: 0.6em;
  right: 10px;
}
.seccionLanzamientos .titulosExclusivosPSN {
  margin: 20px;
  position: relative;
}
.seccionLanzamientos .titulosExclusivosPSN::first-letter {
  color: #006FCD;
}
.seccionLanzamientos .titulosExclusivosPSN::after {
  content: "";
  position: absolute;
  width: 47.5rem;
  height: 2px;
  background-color: #006FCD;
  top: 0.6em;
  left: 280px;
}
.seccionLanzamientos .titulosExclusivosXbox {
  margin: 20px;
  position: relative;
}
.seccionLanzamientos .titulosExclusivosXbox::first-letter {
  color: #107C10;
}
.seccionLanzamientos .titulosExclusivosXbox::after {
  content: "";
  position: absolute;
  width: 52rem;
  height: 2px;
  background-color: #107C10;
  top: 0.6em;
  left: 210px;
}

/*# sourceMappingURL=estilos.css.map */
