/* Body del proyecto */
@import "../base/variables";
body{
    font-family: $font-text;
    background-image: url(https://img1.wsimg.com/isteam/ip/7c4893dc-b5f3-4562-8995-0e45610fc077/1014.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}