/* Body del proyecto */
@import "../base/variables";
body{
    font-family: $font-text;
    background-color:rgb(241,244,247);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}