/* Body del proyecto */
@import "../base/variables";
body{
    font-family: $font-text;
    background-image: url(https://fondosmil.com/fondo/26562.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}