

/* ENCABEZADO */
.encabezado {
    .logoPortal{
        width: 35%;
        height: auto;
    }
    .navbarMenu {
        background-color:$colorRed;

        .navbarUl {
            margin-left: 100px;
            margin-right: 100px;

            .navbarSeccions {
                color: white;

                &:hover {
                    transition: all 1s;
                    background-color: black;
                    border-bottom: 2px solid white;
                    border-spacing: 0px;
                }
            }
            .dropdown:hover .dropdown-menu {
                display: block;
              }
        }
    }


}


/* Fin encabezado */