.logosCards {
    width: 1.5em;
}

.seccionLanzamientosPrinciales {
    .card {
        width: 30rem;
    }

    .tituloLanzamientosPrincipales {
        text-align: $aling-text-center;
        margin-top: 5rem;
        margin-bottom: 5px;
        color: black;

        &::first-letter {
            color: $colorRed;
        }
    }

    .cardLanzamientoPrincial {
        border: hidden 1px black;
        color: black;

        .card-body {
            border: 1px solid rgb(199, 199, 199);
        }

        .contenedorImagen {
            .imagenLanzamiento {
                opacity: 1;
                display: block;
                transition: .5s ease;

            }

            .contenedorNota {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 15%;
                left: 35%;
                text-align: center;
            }

            &:hover .imagenLanzamiento {
                filter: blur(2px);
            }

            &:hover .contenedorNota {
                opacity: 1;
            }

            .nota {
                background-color: $colorRed;
                color: white;
                font-size: 16px;
                padding: 16px 32px;
                border-radius: 50px;
            }
        }
    }
}

.seccionLanzamientos {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(129, 119, 119);

    .card {
        width: 18rem;
    }

    .cardLanzamientosVariados {
        box-shadow: 5px 5px 30px #000000;
    }

    .cardPlaystation {
        box-shadow: 5px 5px 30px #006FCD;
    }

    .cardXbox {
        box-shadow: 5px 5px 30px #107C10;
    }
    .cardNintendo{
        box-shadow: 5px 5px 30px #e60012;
    }

    .tituloLanzamientos {
        position: relative;

        &::first-letter {
            color: $colorRed;
        }

        &::after {
            content: '';
            position: absolute;
            width: 23.125rem;
            height: 2px;
            background-color: black;
            top: 0.6em;
            left: 10px
        }

        &::before {
            content: '';
            position: absolute;
            width: 23.125rem;
            height: 2px;
            background-color: black;
            top: 0.6em;
            right: 10px
        }
    }

    .titulosExclusivosPSN {
        margin: 20px;
        position: relative;

        &::first-letter {
            color: #006FCD;
        }

        &::after {
            content: '';
            position: absolute;
            width: 47.5rem;
            height: 2px;
            background-color: #006FCD;
            top: 0.6em;
            left: 290px
        }
    }

    .titulosExclusivosXbox {
        margin: 20px;
        position: relative;

        &::first-letter {
            color: #107C10;
        }

        &::after {
            content: '';
            position: absolute;
            width: 52rem;
            height: 2px;
            background-color: #107C10;
            top: 0.6em;
            left: 210px
        }
    }
    
    .titulosExclusivosNintendo {
        margin: 20px;
        position: relative;

        &::first-letter {
            color: #e60012;
        }

        &::after {
            content: '';
            position: absolute;
            width: 49rem;
            height: 2px;
            background-color: #e60012;
            top: 0.6em;
            left: 260px
        }
    }

    .cardLanzamientosVariados,
    .cardPlaystation,
    .cardXbox,
    .cardNintendo{
        .contenedorImagen {
            .imagenLanzamiento {
                opacity: 1;
                display: block;
                transition: .5s ease;

            }

            .contenedorNota {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 9%;
                left: 25%;
                text-align: center;
            }

            &:hover .imagenLanzamiento {
                filter: blur(2px);
            }

            &:hover .contenedorNota {
                opacity: 1;
            }

            .nota {
                background-color: $colorRed;
                color: white;
                font-size: 0.8rem;
                padding: 16px 32px;
                border-radius: 50px;
            }
        }

    }
}