.seccionNoticias {
    .tituloPrincipalNoticia {
        /* Seccion noticias */
        text-align: $aling-text-center;
        margin-top: 80px;
        margin-bottom: 5px;
        color: #0F1618;
        &::first-letter {
            color: $colorRed;
        }

    }

    .noticiasPrincipales {
        /* SECCION - NOTICIAS - NOTICIAS PPALES */
        position: relative;
        width: 100%;
        padding-top: 0px;
        margin-bottom: 40px;

        display: block;
        width: 100%;
        color: $colorWhite;
        font-size: 40px;
        font-weight: 700;
        transition: .3s;

        .primerTitular a {
            font-size: 35px;

        }
    }

    .titular-img {
        position: relative;
        height: 100%;
    }

    .titularCaptions {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 15px 10px 15px 20px;
        background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
        display: flex;
        align-items: flex-end;

        a {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 700;
            transition: .3s;
            letter-spacing: 1px;
            color: $colorWhite;

            &:hover {
                color: $colorRed
            }

        }


    }

    .titularTitulo {
        text-decoration: none;
        display: block;
        width: 100%;
        color: $colorWhite;
        font-size: 40px;
        font-weight: 700;
        transition: .3s;
    }

    .titularMargin {
        margin-top: 25px;
    }
}
.seccionNovedades {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow:  5px 5px 30px $colorRed;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;

    .tituloNovedades {
        display: inline-block;
        position: relative;
    

        &::after {
            content: '';
            position: absolute;
            width: 950px;
            height: 2px;
            background-color: black;
            top: 0.6em;
            left: 130px;
        }
        &::first-letter{
            color: $colorRed;
        }
    }
    .ul-noticias{
        list-style-type: none;
                .li-noticias{
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 20px;
                    margin-bottom: 20;
                    .vinculoNoticias{
                        text-decoration: none;
                        color: black;
                        .imagen-noticias{
                            width: 50%;
                            float: right;
                            border-radius: 15px;
                            padding: auto;
                            position:relative;
                            left: 10px;
                            object-fit: cover;
                            &:hover{
                                filter: blur(1px);
                            }
                        }
                        .titulo-noticias{
                            text-align: left;
                            margin-bottom: 20px;   
                                &:hover{
                                    text-decoration:underline;
                                } 
                        }
                }
                .descripcion-noticias{
                    text-align: left;
                }
            }
    }
}