    /* Extend basico para cumplir con el trabajo pedido*/
%ajusteDeContenedor {
    margin-right: 15px;
    margin-left: 15px;
}
%ajusteFotoNoticias{
    width: 4,5em;
    height: 50px;
    border-radius: 25px; 
}

.contenedor-noticias{
    @extend %ajusteDeContenedor
};
.fotos-noticias{
    @extend %ajusteFotoNoticias
};
