/* Mapas */
$tituloNoticia: (
   margin-top: 80px,
   colores: #E40017,
   bg-color: rgb(241,244,247),

);
.tituloh1-noticia{
    margin-top: map-get($tituloNoticia,margin-top);
    color: map-get($tituloNoticia , colores );
    background-color: map-get($tituloNoticia, bg-color );
}