/* Variable */
$margin-top: 25px;
$margin-bottom: 25px;
$margin-right: 25px;
$margin-left: 25px;
$aling-text-center: center;
$font-text: 'Roboto Condensed', sans-serif;
$list-style-none:none;
$flexD-column:column;
$colorRed:red;
$colorBlack:black;
$colorWhite:white;
$transicionNoticias: all 2s;
$escalaTransicion: scale(0.9);
