/* Variable */
$margin-bottom: 25px;
$margin-right: 25px;
$margin-left: 25px;
$aling-text-center: center;
$font-text:'Ubuntu', sans-serif;
$list-style-none:none;
$flexD-column:column;
$colorRed:#E40017;
$colorBlack:black;
$colorWhite:rgb(241,244,247);

